<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalvineng.reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionPackage.ReactionTimes"
            android:label="@string/title_activity_reaction_times"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kalvineng.reflex.MainMenu" />
        </activity>
        <activity
            android:name=".BuzzerPackage.Buzzer"
            android:label="@string/title_activity_buzzer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kalvineng.reflex.MainMenu" />
        </activity>
        <activity
            android:name=".StatsPackage.Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kalvineng.reflex.MainMenu" />
        </activity>
    </application>

</manifest>
